.main-content {
    position: relative;
    z-index: 100;
    padding: 4em 0 8.5em 0;
    background: #fff;
}
.main-content p {
    color: #555;
}
.main-content h1{
    margin-bottom: 1em;
}
.row .fourcol{
    width: 30.75%;

}
.main-content img{

    vertical-align: middle;
    display: inline-block;
}

h3 {
    float:left;
    display: block;
    font-size: 1.3em;
}

.three-col{
    vertical-align: middle;
    margin-bottom: 0.7em;
    padding-bottom: 55px;
}
.three-col img{
    margin :-5px 12px 0px 0px;
}


/*-----*/

.row .sixcol {
    width: 48%;
}

.expert-preview {
    display: table;
    margin-bottom: 2em;
    width: 100%;
}

.expert-preview .expert-meta {
    background: transparent;
    display: table-cell;
    width: 109px;
}

.expert-preview .expert-text {
    display: table-cell;
    padding-left: 3.8%;
    vertical-align: top;
}

.expert-signature {
    display: block;
    margin-bottom: 0.7em;
    color: #777;
}

.expert-preview .expert-image {
    margin-bottom: 0.5em;
}

.bordered-image {
    position: relative;
    overflow: hidden;
    padding: 3px;
    max-width: 100%;
    border: 1px solid #e1e1e1;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.bordered-image img {
    padding-top: 5px;
    display: block;
    width: 100%;
    height: auto;
    border-width: 0!important;
}

.user-links {
    overflow: hidden;
    text-align: center;
    word-spacing: 0;
    font-size: 0;
    line-height: 0;
}
.user-links a:first-child {
    margin-left: 0;
}
.expert-preview .user-links a:nth-child(4) {
    margin-right: 0;
}
.user-links a.twitter {
    background-position: -24px 0;
}
.user-links a.vimeo {
    background-position: -168px 0;
}
.user-links a.tumblr {
    background-position: -96px 0;
}
.user-links a {
    display: inline-block;
    margin: 0 0 7px 7px;
    width: 20px;
    height: 20px;
    background: #f0f0f0 url("../img/user_social_icons.png") 0 0 no-repeat;

    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.17) inset;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.17) inset;
    box-shadow: 0 0 7px rgba(0,0,0,0.17) inset;
    border-radius: 3px;
}

.user-links a:hover {
    background-position: 0px -20px;
    background-color: #5ea5d7;
}
.user-links a.twitter:hover {
    background-position: -24px -20px;
}
.user-links a.vimeo:hover {
    background-position: -168px -20px;
}
.user-links a.tumblr:hover {
    background-position: -96px -20px;
}
/*Testimonials*/

.testimonial {
    display: table;
    margin-bottom: 0.5em;
    width: 100%;
}

.testimonial .testimonial-image {
    display: table-cell;
    width: 87px;
    background: transparent;
    /*height: 89px;*/
}

.testimonial .testimonial-text {
    display: table-cell;
    padding-left: 3.8%;
    vertical-align: top;
}

.testimonial .testimonial-text p {
    margin-bottom: 0.5em;
    font-style: italic;
}

.bubble-image {
    position: relative;
    overflow: hidden;
    width: 87px;
    height: 88px;
}
.bubble-image img{
    height: auto;
    padding-top: 5px;
}
.substrate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
}